@{
    ViewData["Title"] = "Welcome";
}

<div class="mt-5 text-center">
    <h1>Good Vibes Barbershop</h1>
    <p class="lead mt-3">
        Welcome to our online booking system.
        You can request a haircut appointment in just a few clicks.
    </p>

    <a class="btn btn-primary btn-lg mt-4"
       asp-controller="Booking"
       asp-action="Index">
        Request an Appointment
    </a>
</div>